.contenedor{
	display: grid; /*grid areas:usarlo mejor para responsive web, se combina con g-column*/
	grid-gap:20px;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:"header 	header 		header" /*1er fila**/
						"sidebar-1 	contenido 	sidebar-2" /*2da fila*/
						"sidebar-1 	widgets 	sidebar-2" /*3era fila*/
						"footer 	footer 		footer"; /*4ta fila*/
}

.contenedor .header{
	background: #ff8000;
	grid-column: header/header;
}

.contenedor .sidebar-1{
	background: #393e46;
	/*grid-column: sidebar-1; /*forma corta, comienza y termina en sidebar-1
	grid-row: sidebar-1;*/
	grid-area: sidebar-1;
}

.contenedor .contenido{
	background: #fff;
	color:#000;
	grid-area: contenido;
}

.contenedor .widgets{
	background: #ff8000;
	grid-area: widgets;
}

.contenedor .sidebar-2{
	background: #393e46;
	grid-area: sidebar-2;
}

.contenedor .footer{
	background: #222831;
	grid-area: footer;
}